
*{
  margin: 0%;
  padding: 0%;
}

body{
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  font-family: 'Ubuntu', sans-serif;
}

main{
  height: 100%;
  width: 100%;
}

header{
  background-color: rosybrown;
  position: sticky;
  top: 0%;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login{
  margin-right: 2%;
  color: black;
  background-color: white;
  border: #f1f1f1;
  cursor: pointer;
  text-decoration: none;
}

#logo{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  align-items: center;
  margin-left: 1%;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search{
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar{
  width:31%;
  padding: 10px;
  
  border-radius: 12px;
  font-size: 16px;
  background-color: #f1f1f1;

  border: none;
  outline: none; /* Remove outline on focus */
  box-shadow: none; /* Remove any box-shadow */
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  -moz-appearance: none; /* Remove default styling in Mozilla browsers */
  appearance: none; /* Remove default styling in modern browsers */
}

.city-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-block: 4%;
}

.card-link{
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  box-shadow: 10px 10px 10px grey;
  margin: -10px;
}

.card-link img{
  display: block;
  transition: transform 0.3s ease;
}

.overlay{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevents the overlay from interfering with mouse events */
}

.card-link:hover .overlay{
  opacity: 1;
}

.card-link:hover img {
  transform: scale(1.1); /* Optional: Slightly zooms in the image on hover */
}




.overlay{
  position: absolute;
}

.image-section{
  height: 150px;
  width: 150px;
  border-radius: 25%;
  cursor: pointer;
}



section > #view-more{
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}


footer{
  height: 4rem;
  background-color: rosybrown;
  position: sticky;
  bottom: 0%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > #contact-us{
  margin-left: 2%;
  color: white;
  background-color: rgb(8, 113, 137);
  text-decoration: none;
  cursor: pointer;
}

footer > span{
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer > figure{
  margin-right: 2%;
}



.social-media-images{
  height: 20px;
  width: 22px;
}