/* *{
  margin: 0;
  padding: 0;
} */

body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
}

#logo{
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.view{
  list-style-type:none;
}
.view li:before{
  content: "\2022"; /* Unicode for bullet (•) */
  color: black; /* Custom color */
  margin-right: 1px;  /* Adjust spacing */
}

#content-2 img{
  height: 250px;
  width: 250px;
}

.social-media-images{
  height: 20px;
  width: 22px;
}